<section>
  <div class="page-header">
    <h1>Historial de cobros</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="historial-de-cobro in vm.historialDeCobros"
       ui-sref="historialDeCobros.view({ historial-de-cobroId: historial-de-cobro._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="historialDeCobro.created | date:'mediumDate'"></span>
        by
        <span ng-if="historialDeCobro.user" ng-bind="historialDeCobro.user.displayName"></span>
        <span ng-if="!historialDeCobro.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="historial-de-cobro.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.historialDeCobros.$resolved && !vm.historialDeCobros.length">
    No Historial de cobros yet, why don't you <a ui-sref="historialDeCobros.create">create one</a>?
  </div>
</section>
